.hero {
}

/*-----Elements-----*/

.hero__title {
  font-size: ms(4);
  @include line-height(3); 
}

.hero__text {
  font-size: ms(2);
  letter-spacing: 1px;
  @include line-height(2); 
}

.hero__img {
  align-self: flex-end;
  max-width: 50%;
  height: auto;
  // flex: 1;
  display: none;
}

.hero__desc {
  align-self: center;
  // flex: 2;
}
/*-----Modifiers-----*/

@media screen and (min-width:1250px) {
  .hero__img_desktop {
    display: block;
  }
}
