.contact {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  max-width: 550px;
  margin:0 50px;
}

/*-----Elements-----*/

.contact__container {
  padding: 50px 20px;
}

.contact__title {
  margin:0;
  padding: 0;
}

.contact__confirm {
  display:none;
}

.contact__form {
  display:flex;
  flex-direction:column;
  justify-content: center;
  width:100%;
}

/*-----Modifier-----*/

@media screen and (min-width:600px) {
  .contact__container_desktop {
    width:50vw;
    max-width:500px;
  }
}