.form {
  
}

/*-----Elements-----*/

.form__wrapper {
  display:flex;
  flex-direction:column;
  margin:0 0 15px 0;
}

.form__msg-input {
  font-family: 'Lato', sans-serif; 
  height:175px;
  resize:none;
  overflow:auto;
}