.header {
  display:flex;
  flex-direction: column;
  width:100%;
  background: white;
  z-index: 999;
  padding: 25px; 
}

/*-----Elements-----*/

.header__title {
  // margin:25px 0 0 25px;
  font-size: ms(2);
  margin-left: 20px;
}

.header__nav {
  // margin: 20px 0;
}

.header__menu {
  max-height:0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}

/*-----Modifiers-----*/

.header__menu_open {
  max-height: 20rem;
}

@media screen and (min-width:650px) {
  .header__menu {
    max-height: 20rem;
  }
}

@media screen and (min-width:1300px) {
 .header_desktop {
    flex-direction: row;
    padding: 25px 100px;
  }

 .header__nav_desktop {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    // margin-right: 100px;
    margin-left: auto;
  }

  .header__title_desktop {
    // margin: 0 0 0 100px;
  }
}
