.link {
  text-decoration: none;
  color:black;
}

.link__back {
  color: $red;
}

.link:visited {
  color:black;
}

.link:hover {
  text-decoration:underline;
}

.link:active {
  text-decoration:underline;
}


.link__footer,
.link__footer:visited {
  color:$white;
}
