.link {
  text-decoration: none;
  color:$black;
  background:none;
  font-weight: 700;
}

.link__back {
  color: $primary-color;
}

.link_footer {
  color: $white;
}

.link:hover {
  text-decoration:underline;
}

.link:active {
  text-decoration:underline;
}
