.blog {

}

/*-----Elements-----*/
.blog__page {
  margin: 0 25px;
}
.blog__list {
  list-style-type: none;
  margin:0;
  padding:0;
  border-bottom: 1px $black solid;
}

.blog__link {
  margin-top: 50px;
  text-align: center;
}