    <footer class="footer">
      <nav class="nav nav_footer">
        <ul class="nav__menu menu">
          <li class="menu__item menu__item_footer"><a class="link menu__link_footer menu__link_hover underline underline_hover" href="/">Home</a></li>
          <li class="menu__item menu__item_footer"><a class="link menu__link_footer menu__link_hover underline underline_hover" href="/blog/">Blog</a></li>
          <li class="menu__item menu__item_footer"><a class="link menu__link_footer menu__link_hover underline underline_hover" href="/work/">Work</a></li>
          <li class="menu__item menu__item_footer"><a class="link menu__link_footer menu__link_hover underline underline_hover" href="/about/">About</a></li>
          <li class="menu__item menu__item_footer"><a class="link menu__link_footer menu__link_hover underline underline_hover" href="/contact/">Contact</a></li>
        </ul>
      </nav>
      <div class="footer__copyright copyright">
        <h4 class="copyright__text">Copyright © Paul Truong Digital 2018</h4>
        <h4 class="copyright__text">Powered by coffee and late nights</h4>
      </div>
      <div class="footer__social social">
        <h4><a class="link link_footer underline underline_hover" href="http://codepen.io/ptruong/" target="_blank">Codepen</a> -
        <a class="link link_footer underline underline_hover" href="https://twitter.com/mrpaultruong" target="_blank">Twitter</a> - 
        <a class="link link_footer underline underline_hover" href="https://www.instagram.com/mrpaultruong/" target="_blank">Instagram</a></h4>
      </div>
      <script src="../js/main.js"></script>    
    </footer>
  </body>
</html>
