      <footer class="footer">
        <nav class="footer__nav footer__nav_desktop">
          <ul class="menu footer__menu footer__menu_desktop">
            <li class="footer__menu-item"><a class="link link__footer" href="/">Home</a></li>
            <li class="footer__menu-item"><a class="link link__footer" href="/blog/">Blog</a></li>
            <!-- <li class="footer__menu-item"><a class="link link__footer" href="">About</a></li> -->
            <li class="footer__menu-item"><a class="link link__footer" href="http://codepen.io/ptruong/" target="_blank">Codepen</a></li>
            <li class="footer__menu-item"><a class="link link__footer" href="https://twitter.com/mrpaultruong" target="_blank">Twitter</a></li>
            <li class="footer__menu-item"><a class="link link__footer" href="https://www.instagram.com/mrpaultruong/" target="_blank">Instagram</a></li>
          </ul>
          <span class="footer_copyright_desktop">© 2017 - Paul Truong</span>
        </nav>
      </footer>
    </div><!-- .container end -->
  </body>
</html>
