.post {
    margin: 30px;
}

.post__title {
  font-size: ms(2);
  @include line-height(2); 
  text-align: center;
}
.post__pub-date {
  color: $grey;
  text-align: center;
  margin-bottom: 40px;
  @include line-height(3); 
  
}
.post__content > ol > li {
    padding: 10px 0;
}

.post__content {
  max-width: 46.971rem;
  margin: 0 auto;
}

.post__content a {
  text-decoration: underline;
}

@media screen and (min-width:850px) {
  .post__content_desktop > ul > li,
  .post__content_desktop > ol > li,
   {
    line-height: 2.022rem;
  }

  .post__title {
    font-size: ms(4);
    @include line-height(4);
  }

  .post__pub-date {
    margin-bottom: 80px;
  }
}

@media screen and (min-width:1000px) {
  .post__title {
    font-size: ms(5);
    @include line-height(5);
  }
}  
