.footer {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-end;
  padding: 20px 0px;
  width:100%;
  background:$primary-color;
  color:$white;
}

/*-----Elements-----*/

.copyright__text {
  margin:15px 0;
  text-align: center
}

.footer__nav {
  margin:0px 0px 10px 45px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:10px 0;
  color:$white;
}

.footer__menu-item {
  margin:15px 10px 15px 0;
  color:$white;
}

.footer__copyright {
  letter-spacing: 1px;
  font-size: ms(0);
  line-height: ms(0);
}

.footer__social {
  color: $white;
}

@media screen and (min-width:600px) {
  .footer__nav_desktop {
    display:flex;
  }

  .footer__menu_desktop {
    flex-direction: row;
    justify-content: center;
  }

  .footer_copyright_desktop {
    align-self: center;
  }
}
