<div class="bio">
  <img src="img/homePortrait.jpg" title="Yes, That's me..." alt="Yes, That's me..." class="bio__portrait">
  <div class="bio__textBlock">
    <h2 class="content__header">About me</h2>
    <p>23 years old. Servant of the public. Wannabe web developer. Recreational doodler.<p>

    <p>Born and raised in Canberra, the (not so) well known capital city of Australia. I started this blog as a way to communicate my ideas and experience to any willing to read it. I hope you can get as much out of reading my posts as I do writing them.</p>
  </div>
</div>
