<div class="contact content__contact content__contact_desktop">
  <div class="contact__container contact__container_desktop">
     <h2 class="contact__title contact__title_desktop">Lets chat!</h2>
    <p class="contact__text contact__text_desktop">
      Interested? Let's catch up and talk about what I can do for you
    </p>
<!--   </div>
  
  <div class="contact__container contact__container_desktop"> -->
    <form class="form contact__form contact__form_desktop" id="contactForm">
      <div class="form__wrapper form__name">
        <label class ="form__label" for="name">Your name<span class="text__mandatory">*</span></label>
        <input class="form__name-input" type="text" name="name" autocomplete="off">  
      </div>
      <div class="form__wrapper form__email">
        <label class ="form__label" for="email">Your email<span class="text__mandatory">*</span></label>
        <input class="form__email-input" type="text" name="email" autocomplete="off">  
      </div>
      <div class="form__wrapper form__msg">
        <label class ="form__label" for="msg">Your message<span class="text__mandatory">*</span></label>
        <textarea class="form__msg-input"name="msg"></textarea>
      </div>
      <input type="text" name="_gotcha" style="display:none" />
      <button class="button button__submit" type="submit" value="Send">Send</button>
    </form>
    <h2 class="contact__confirm">Thanks for submitting</h2>
  </div>
</div>